# Ignore all these.
node_modules/
build/
sslcerts/

# For Heroku
npm-debug.log
.DS_Store
/*.env

# These files are created by TSOA during build.
src/routes.ts
src/swagger.json

# Don't ignore these.
!*.gitkeep